.LotteryBall {
    background-color: red;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 3em;
    height: 2.25 em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

/*border-radius gives the ball shape */